@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font01: 'Inter', sans-serif;

  --color-destaque: hsl(75, 94%, 57%);

  --color01: hsl(0, 0%, 100%);
  --color02: hsl(0, 0%, 20%);
  --color03: hsl(0, 0%, 12%);
  --color04: hsl(0, 0%, 8%);
}

body {
  font-family: var(--font01);
  background-color: var(--color04);
  color: var(--color01);
  margin: 20px;
  text-align: center;
}

main {
  max-width: 90%;
  width: 350px;
  margin: auto;
  border-radius: 20px;
  background-color: var(--color03);
  padding: 30px 20px 40px 20px;
  box-sizing: border-box;
}

header>p {
  margin-bottom: 20px;
}

header>h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

nav>a>div {
  font-weight: bolder;
  background-color: var(--color02);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

nav>a>div:hover {
  background-color: var(--color-destaque);
  color: var(--color04);
}

nav>a {
  text-decoration: none;
  color: var(--color01);
}

p {
  margin: 0;
}

p.destaque {
  color: var(--color-destaque);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

img {
  border-radius: 50%;
  width: 100%;
  max-width: 150px;
  height: auto;
}

footer {
  margin: 40px 0px 0px 0px;
  font-size: 0.9rem;
}

footer>div>a {
  text-decoration: none;
  color: var(--color01);
  font-weight: bold;
}

footer>div>a:hover {
  color: var(--color-destaque);
}

@media (max-width: 480px) {
  main {
    padding: 20px 15px;
  }

  nav>a>div {
    padding: 12px;
    font-size: 0.9rem;
  }

  footer {
    margin: 20px 0 0 0;
  }
}